/*ADD A SECTOR*/
body {
    /*WILL MAKE THE ELEMENTS FIT SCREEN PROPERLY*/
    display: flex;
    /*TO BE CENTERED ON Y + X AXIS*/
    justify-content: center;
    align-items: center;
    /*SO THE HEIGHT WILL ALWAYS BE RELATIVE TO SCREEN SIzE*/
    min-height: 100vh;
    background: rgb(147, 192, 194);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    size: 25em;
}

.clock {
    /*DISPLAY SET TO FLEX CONTAINER*/
    display: flex;
    height: 300px;
    width: 300px;
    background:rgb(73, 147, 151);
    border-radius: 50%;
    border: 10px solid white;
    position: relative;
    margin-left: 50px;
}
/*CENTER DOT*/
.clock::after {
    position: absolute;
    content:'';
    top: 50%;
    left: 50%;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
    /*THIS WILL TRANSLATE THE ITEM 50% OF WIDTH TO LEFT & 50% OF WIDTH UPWARDS*/
    transform: translate(-50%, -50%);
}

button {
    font: 16px;
    border-radius: 16px;
}