/*ADD A SECTOR*/
body {
    /*WILL MAKE THE ELEMENTS FIT SCREEN PROPERLY*/
    display: flex;
    /*TO BE CENTERED ON Y + X AXIS*/
    justify-content: center;
    align-items: center;
    /*SO THE HEIGHT WILL ALWAYS BE RELATIVE TO SCREEN SIzE*/
    min-height: 100vh;
    background: rgb(147, 192, 194);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    size: 25em;
}

.clock {
    display: flex;
    width: 700px;
    height: 200px;
    font-size: 90px;
    background: rgb(95, 142, 145);
    border: 16px solid white;
    align-items: center;
    justify-content: center;
    margin-left: 50px;  
}